@{
    ViewBag.Title = "SignalR Complex Method Call Examples";
}
<div class="animalContainer">
    <h3 class="underline">Animal List</h3>
    <ul id="listAnimals"></ul>
</div>
<button type="button" id="clear">Clear</button>

@section scripts
{
    <script type="text/javascript">
        'use strict';
        $('#clear').click(Empty);
        
        //functions
        function Empty() {
            $('#listAnimals').empty();
        }
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Home/index.js")"></script>
}

@section stylesheets
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Home/index.css")"/>    
}
